.chessboard {
    position: relative;
    display: grid;
    border: 1px solid #fff;
    grid-template-areas: 'overlay';
}

.board {
    grid-area: overlay;
}

.card {
    position: absolute;
    display: block;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
}

.close-button {
    position: absolute;
    top: 10%;
    right: 10%;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.close-button:hover {
    color: #ff0000; /* Optional: Change color on hover */
}